.delivery-bg {
    background-color: #f4f4f4 !important;
}

.delivery-nav {
	color: black;
	font-weight: 600;
	box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px;
    z-index: 9;
	background-color: white;
}

.delivery-text {
    color: black;
}

.delivery-message {
    background-color: white;
    color: black;
}

.delivery-footer {
    background-color: white;
}

.react-tabs__tab {
	padding: 10px 14px !important;
	color: #000000;
}

.react-tabs__tab--selected {
	border-color: transparent !important;
	color: #FE0B15 !important;
	font-weight: 700;
	border-radius: 0 !important;
    background-color: white;
}

.delivery-order {
	margin-bottom: 20px;
	border-radius: 8px;
    background-color: white;
    color: black;
}